<div class="main-container">
    <app-customer-dashboard-toolbar [isDashboard]="false"></app-customer-dashboard-toolbar>
    <div class="section">
        <font size="5">Riepilogo esercizi della scheda di allenamento: {{wpName}} </font><br> 
        <mat-list class="mat-list" role="list" *ngFor="let ex of exercises">
              <mat-card class="customer-card" >
                <mat-card-header>
                  <mat-card-title>{{ex.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Difficoltà: {{ex.difficultyLevel}}</p>
                  <p>Descrizione: {{ex.description}}</p>
                  <p>Macchinario da usare: {{ex.machine}}</p>
                </mat-card-content>
              </mat-card>
        </mat-list>
        <div class="button-row">
            <button type="submit" mat-raised-button color="primary" routerLink="/customer/workout-session/{{wpId}}/{{wpName}}/{{wsessionId}}"> Inizia Allenamento </button>
        </div>
    </div>
  </div>