<div class="main-container">

    <mat-toolbar color="primary" class="mat-toolbar">
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="arrow_back" routerLink="/pt/"></mat-icon> 
        <span class="spacer"></span>
        <mat-icon aria-hidden="false" aria-label="Back" fontIcon="home" routerLink="/home"></mat-icon>
        <span class="spacer"></span>
        Registrazione
    </mat-toolbar>

    <form (ngSubmit)="onSubmit()" [formGroup]="ptForm">
        <p>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" placeholder="Nome" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Cognome</mat-label>
                <input matInput type="text" placeholder="Cognome" formControlName="surname">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" formControlName="email">
            </mat-form-field>
        </p>
        
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Data di Nascita</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </p>  
        <button type="submit" mat-raised-button color="primary" > Salva </button>
        
    </form>

</div>

