<div class="main-container">
    <mat-toolbar color="primary" class="mat-toolbar-centered">
        Dashboard del PT: {{personalTrainer.name}} {{personalTrainer.surname}}
    </mat-toolbar>
    <div class="section">
        <p>Visualizza la lista dei tuoi clienti</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/list-customers">Lista Clienti</button>
        </div>
    </div>
    
    <div class="section">
        <p>Crea un nuovo cliente</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/create-customer">Aggiungi cliente</button>
        </div>
    </div>

    <div class="section">
        <p>Inserisci un nuovo macchinario</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/create-gym-machine">Inserisci Macchinario</button>
        </div>
    </div>

    <div class="section">
        <p>Crea un nuovo esercizio</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/create-exercise">Aggiungi esercizio</button>
        </div>
    </div>

    <div class="section">
        <p>Crea un nuovo programma di allenamento</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/create-wprogram">Aggiungi programma</button>
        </div>
    </div>

    <div class="section">
        <p>Visualizza i Macchinari</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/list-gym-machines">Lista Macchinari</button>
        </div>
    </div>

    <div class="section">
        <p>Visualizza gli Esercizi</p>
        <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/pt/list-exercises">Lista Esercizi</button>
        </div>
    </div>
</div>
