<div class = "main-container">
  <app-pt-dashboard-toolbar [personalTrainer]="personalTrainer" [isDashboard]="false"></app-pt-dashboard-toolbar>
    <div class="section">
        <p>Visualizza la lista dei Macchinari:</p>
        <mat-list class="mat-list" role="list" *ngFor="let gm of machines">
              <mat-card class="machine-card" >
                <mat-card-header>
                  <mat-card-title>Macchinario n°: {{gm.id}}-{{gm.name}} 
                  </mat-card-title>
                </mat-card-header>
              </mat-card>
              
        </mat-list>
    </div>
</div>