<div class = "main-container">
  <app-pt-dashboard-toolbar [isDashboard]="false"></app-pt-dashboard-toolbar>
    <div class="section">
        <p>Visualizza la lista dei Macchinari:</p>
        <mat-list class="mat-list" role="list" *ngFor="let gm of machines">
              <mat-card class="customer-card" >
                <mat-card-header>
                  <mat-card-title>{{gm.name}} 
                  </mat-card-title>
                </mat-card-header>
                  <mat-card-content>
                    <p>Descrizione: {{gm.description}}</p>
                  </mat-card-content>
                
              </mat-card>
              
        </mat-list>
    </div>
</div>