<div class="main-container">  
    <app-customer-dashboard-toolbar [isDashboard]="true"></app-customer-dashboard-toolbar> 

    <div class="container">
        <mat-card class="dashboard-card">
            <mat-card-title>Gestione Schede di Allenamento</mat-card-title>
            <div class="section">
                <p>Visualizza le tue schede di allenamento</p>
                <div class="button-row">
                    <button mat-raised-button color="primary" routerLink="/customer/list-workout-programs">Lista Schede di Allenamento</button>
                </div>
            </div>
        </mat-card>
        <mat-card class="dashboard-card">
            <mat-card-title>Gestione Personal Trainer</mat-card-title>
            <div class="section">
                <p>Cambia Personal Trainer</p>
                <div class="button-row">
                    <button mat-raised-button color="primary" routerLink="/customer/change-pt">Cambia PT</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
