<head>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="main-container">
        <mat-toolbar color="primary" class="mat-toolbar-centered">
            Benvenuto in SmarTrainer 
        </mat-toolbar>
      
        <!-- Sezione per Personal Trainer -->
        <div class="section">
            <h2>Sei un Personal Trainer?</h2>
            <mat-list class="mat-list" role="list">
                <mat-list-item class="mat-list-item" role="listitem">Crea e gestisci programmi di allenamento personalizzati</mat-list-item>
                <mat-list-item class="mat-list-item" role="listitem">Monitora le prestazioni dei tuoi clienti</mat-list-item>
                <mat-list-item class="mat-list-item" role="listitem">Aggiungi un utente</mat-list-item>
            </mat-list>
            <div class="button-row">
                <button mat-raised-button color="primary" routerLink="/login">Accedi</button>
                <button mat-raised-button color="primary" routerLink="/register">Registrati</button>
            </div>
        </div>
          
          <!-- Sezione per Customer -->
        <div class="section">
            <h2>Sei un Utente?</h2>
            <mat-list class="mat-list" role="list">
                <mat-list-item class="mat-list-item" role="listitem">Accedi ai tuoi programmi di allenamento personalizzati</mat-list-item>
                <mat-list-item class="mat-list-item" role="listitem">Registra e monitora i tuoi allenamenti</mat-list-item>
            </mat-list>
            <div class="button-row">
                <button mat-raised-button color="primary" routerLink="/login-customer">Accedi</button>
                <button mat-raised-button color="primary" routerLink="/register-customer">Registrati</button>
            </div>
        </div> 
    </div>
</body>

