<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Trainer Web App</title>
    <!-- Collega il file CSS esterno -->
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <h1>Benvenuto nella Web App del Personal Trainer</h1>
        <h2>La tua salute è la nostra priorità</h2>
    </header>
    <div class="container">
        <h3>Benvenuto alla Web App del Personal Trainer!</h3>
        <p>Qui troverai tutti gli strumenti necessari per raggiungere i tuoi obiettivi di fitness e salute. Il nostro personal trainer è qui per aiutarti a ottenere i migliori risultati possibili.</p>
        <p>Accedi o registrati per iniziare il tuo percorso di allenamento personalizzato.</p>
        <button mat-raised-button routerLink="/login/" color="primary">Login</button>
        <button mat-raised-button color="primary">Registrati</button>
    </div>
</body>
</html>
