<div class="main-container">
    <mat-toolbar color="primary" class="mat-toolbar">
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="arrow_back" routerLink="/home/"></mat-icon> 
        <span class="spacer"></span>
        <mat-icon aria-hidden="false" aria-label="Back" fontIcon="home" routerLink="/home"></mat-icon>
        <span class="spacer"></span>
            Login
    </mat-toolbar>
    
    <div class="section">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>  
            <button type="submit" mat-raised-button color="primary" >Invia</button>
        </form>    
    </div>
</div>