<div class="main-container">
    <app-pt-dashboard-toolbar [personalTrainer]="personalTrainer" [isDashboard]="false"></app-pt-dashboard-toolbar>
    <form (ngSubmit)="onSubmit()" [formGroup]="gymMachineForm">
        <p>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Nome del macchinario</mat-label>
                <input matInput type="text" placeholder="Nome" formControlName="name">
            </mat-form-field>
        </p>

        <button type="submit" mat-raised-button color="primary" > Salva </button>
    
    </form>
</div>

