.main-container {
    padding: 20px;
  }

  .mat-toolbar-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
  }

  .mat-list {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    text-align: left;
  }

  .mat-list-item {
    text-align: left;
  }

  
  .button-row {
    display: flex;
  }

  .button-row .mat-mdc-button-base {
    margin: 4px 8px 8px 0;
  }

  .spacer {
    margin-left: 20px;
  }

  mat-form-field {
    margin-right: 12px;
  }
  