<div class="main-container">
    <app-pt-dashboard-toolbar [isDashboard]="false"></app-pt-dashboard-toolbar>
    <form (ngSubmit)="onSubmit()" [formGroup]="exerciseForm">
        <p>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" placeholder="Nome" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Descrizione</mat-label>
                <input matInput type="text" placeholder="Descrizione" formControlName="description">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Livello di Difficoltà</mat-label>
                <mat-select multiple formControlName="difficultyLevel" [multiple]="false">
                    <mat-option *ngFor="let value of diffValues" [value]="value">{{ value }}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Macchinario Associato</mat-label>
                <mat-select multiple formControlName="machineId" [multiple]="false">
                    <mat-option value="-1">Nessuno</mat-option>
                    <mat-option *ngFor="let machine of machines" [value]="machine.id">{{ machine.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>

        <button type="submit" mat-raised-button color="primary" > Salva </button>
    
    </form>
</div>

