<div class="main-container">
    <app-pt-dashboard-toolbar [isDashboard]="false"></app-pt-dashboard-toolbar>
      <form (ngSubmit)="onSubmit()" [formGroup]="wpNameForm">
          <p>
              <br>
              <font size="5">Scrivi il nome della scheda di allenamento da cercare</font><br />  
              <br>         
              <mat-form-field appearance="outline">
                  <mat-label>Nome della scheda di allenamento</mat-label>
                  <input matInput type="text" placeholder="Nome" formControlName="name">
              </mat-form-field>
          </p>
  
          <button type="submit" mat-raised-button color="primary" [disabled]="wpNameForm.value.name == ''"> Cerca </button>
      </form>
      <br>
      <div *ngIf="isSubmitted">
          <div *ngIf="numElement > 0">
              <div class="section">
                  <p>Lista delle schede di allenamento trovate:</p>
                  <mat-list class="mat-list" role="list" *ngFor="let wp of wprograms">
                    <mat-card class="customer-card" >
                        <mat-card-header>
                          <mat-card-title>{{wp.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>Difficoltà: {{wp.difficultyLevel}}</p>
                          <p>Durata media dell'allenamento: {{wp.estimatedDuration}} minuti</p>
                          <p>Tipologia: {{wp.workoutProgramType}}</p>
                          <p>Descrizione: {{wp.description}}</p>
                          <p>Esercizi del workout:</p>
                          <mat-list class="mat-list" role="list" *ngFor = "let e of wp.exerciseList">
                            <p>- {{e}}</p>
                          </mat-list>
                          <div class="button-row">
                            <button mat-raised-button color="primary" routerLink="/pt/add-exercise-to-wprogram/{{wp.id}}">Aggiungi Esercizi</button>
                        </div>
                        </mat-card-content>
                      </mat-card>
                        
                  </mat-list>
              </div>
            </div>
            <div *ngIf="numElement == 0">
               <p>Nessuna scheda è stata trovata, riprova</p>
            </div>
      </div>
  </div>
